<div class="panel panel-default">
    <div class="panel-heading">{{main.book.title}} <span class="pull-right"><a class="label label-info" href="#!/books/edit/{{main.book._id}}">EDIT</a> <a class="label label-danger" href="#" ng-click="main.deleteBook(main.book._id)" id="deleteBook">DELETE</a></span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="img-container col-md-4">
                    <a href="{{main.book.buy_url}}" target="_blank">
                        <img ng-src="{{main.book.images_url}}" alt="{{main.book.title}}">
                    </a>
                </div>
                <div class="description col-md-8">
                    <h3>{{main.book.title}}</h3>
                    <p>{{main.book.description}}</p>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Gener:</strong> {{main.book.gener}}</li>
                        <li class="list-group-item"><strong>Authour:</strong> {{main.book.authour}}</li>
                        <li class="list-group-item"><strong>Publisher:</strong> {{main.book.publisher}}</li>
                        <li class="list-group-item"><strong>No. of Pages:</strong> {{main.book.pages}}</li>
                    </ul>
                    <div>
                        <a href="{{main.book.buy_url}}" target="_blank" class="btn btn-primary">Buy Now</a> <a href="#!/books" class="btn btn-warning">Back to book list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>