<div class="panel panel-default">
    <div class="panel-heading">Books List <span class="label label-success">{{main.books.length}}</span></div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="book in main.books">
                <div class="col-md-3">
                    <div class="img-container">
                        <a href="#!/books/detail/{{book._id}}">
                            <img ng-src="{{book.images_url}}" alt="{{book.title}}">
                        </a>
                    </div>
                    <div class="description">
                        <h3>{{book.title}}</h3>
                        <p>{{book.description | limitTo: 100 }}{{book.description.length > 100 ? '...' : ''}}</p>
                        <div>
                            <a href="#!/books/detail/{{book._id}}" class="btn btn-primary">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>